@charset "utf-8";

.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 2s;
    animation-fill-mode:forwards;
    animation-timing-function:ease-out;
    opacity:0;
}

@keyframes fadeUpAnime{
    from{
        opacity:0%;
        transform:transalteY(200px);
    }
    to{
        opacity:100%;
        transform:transalteY(0px);
    }
}