.postslist a{
    width:98%;
    display:flex;
    list-style: none;
    margin-bottom:10px;
    border-radius: 10px;
    text-decoration-line:none;
    animation:postunhoveranime 0.5s forwards;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.postslist a:hover{
    list-style: none;
    animation:posthoveranime 0.5s forwards;
}

.postslist a li{
    width: 75%;
    font-size: 35px;
    padding:5px 5px;
    margin-top:-5px;
    margin-left:10px;
    margin-right:10px;
    color:#3b3b3b;
}

.postslist a li p{
    font-size: 20px;
    padding:5px 5px;
    margin-left:20px;
    color:#3b3b3b;
}

.postslist a li p.days{
    font-size: 20px;
    padding:5px 5px;
    margin-top:10px;
    margin-left:0px;
    color:#3b3b3b;
    text-decoration-line:none;
}

.postslist a img{
    width:25%;
    margin-right:2%;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
    animation:postslistpicunhover 0.3s forwards;
}

.postslist a img:hover{
    width:25%;
    margin-right:2%;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
    animation:postslistpichover 0.3s forwards;
}

@media screen and (max-width:768px){
    .postslist a{
        display:block;
        border-radius: 30px;
    }

    .postslist a li{ 
        width: 98%;
        font-size: 90px;
        padding:5px 5px;
        margin-top:-5px;
        margin-left:10px;
        margin-right:10px;
        color:#e6e6e6;
        text-decoration-line:none;
    }
    
    .postslist a li p{
        font-size: 60px;
        padding:5px 5px;
        margin-left:20px;
        color:#e6e6e6;
        text-decoration-line:none;
    }
    
    .postslist a li p.days{
        font-size: 55px;
        padding:5px 5px;
        margin-top:10px;
        margin-left:0px;
        color:#e6e6e6;
        text-decoration-line:none;
    }

    .postslist a img{
        width:98%;
        margin-right:2%;
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
        animation:postslistpicunhover 0.3s forwards;
    }
}

.postslist ul a li .postspic{
    display: grid;
    justify-content: right;
    width:20%;
    min-height:auto;
    align-items: center;
}

.postpic{
    width:100%;
    align-items: center;
    border-radius: 5px;
    margin-bottom:30px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 1);
    animation:postpicunhover 0.3s forwards;
}

.postpic:hover{
    transform:scale(1.05);
    animation:postpichover 0.3s forwards;
}

.article{
    z-index:2;
    font-size:23px;
    line-height: 200%;
    width: 75%;
    min-width: 700px;
    margin-left:20%;
    background-color: rgb(245, 245, 245);
    border-top: 10px solid rgb(245, 245, 245);
    border-right: 15px solid rgb(245, 245, 245);
    border-left: 25px solid rgb(245, 245, 245);
    border-bottom: 10px solid rgb(245, 245, 245);
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .2);
    border-radius: 10px;
}

@media screen and (max-width:768px){
    .article{
        min-width: 385%;
        font-size: 60px;
        line-height: 200%;
        margin-left:10px;
        display: inline-block;
    }    
}

@keyframes posthoveranime {
    0%{
        background-color: rgb(220, 220, 220);
        border-top:10px solid rgb(220, 220, 220);
        border-left:10px solid rgb(220, 220, 220);
        border-bottom:10px solid rgb(220, 220, 220);
    }
    100%{
        background-color: rgb(200, 200, 200);
        border-top:10px solid rgb(200, 200, 200);
        border-left:10px solid rgb(200, 200, 200);
        border-bottom:10px solid rgb(200, 200, 200);
    }
}
@keyframes postunhoveranime {
    0%{
        background-color: rgb(200, 200, 200);
        border-top:10px solid rgb(200, 200, 200);
        border-left:10px solid rgb(200, 200, 200);
        border-bottom:10px solid rgb(200, 200, 200);
    }
    100%{
        background-color: rgb(220, 220, 220);
        border-top:10px solid rgb(220, 220, 220);
        border-left:10px solid rgb(220, 220, 220);
        border-bottom:10px solid rgb(220, 220, 220);
    }
}

@keyframes postpichover {
    0%{
        transform:scale(1.0);
    }
    100%{
        transform:scale(1.02);
    }
}

@keyframes postpicunhover {
    0%{
        transform:scale(1.02);
    }
    100%{
        transform:scale(1.0);
    }
}
