.postslist li{
    width:98%;
    display:flex;
    list-style: none;
    margin-bottom:10px;
    border-radius: 10px;
    animation:postunhoveranime 0.5s forwards;
}

.postslist li:hover{
    list-style: none;
    animation:posthoveranime 0.5s forwards;
}

.postslist li a{
    font-size: 35px;
    padding:5px 5px;
    margin-top:-5px;
    margin-left:10px;
    margin-right:10px;
    color:#e6e6e6;
    text-decoration-line:none;
}

.postslist li a p{
    font-size: 20px;
    padding:5px 5px;
    margin-left:20px;
    color:#e6e6e6;
    text-decoration-line:none;
}

.postslist li a p.days{
    font-size: 20px;
    padding:5px 5px;
    margin-top:10px;
    margin-left:0px;
    color:#e6e6e6;
    text-decoration-line:none;
}

@media screen and (max-width:768px){
    .postslist li a{
        font-size: 60px;
        padding:5px 5px;
        margin-top:-5px;
        margin-left:10px;
        margin-right:10px;
        color:#e6e6e6;
        text-decoration-line:none;
    }
    
    .postslist li a p{
        font-size: 40px;
        padding:5px 5px;
        margin-left:20px;
        color:#e6e6e6;
        text-decoration-line:none;
    }
    
    .postslist li a p.days{
        font-size: 40px;
        padding:5px 5px;
        margin-top:10px;
        margin-left:0px;
        color:#e6e6e6;
        text-decoration-line:none;
    }
}

@keyframes posthoveranime {
    0%{
        background-color: rgb(78, 78, 78);
        border-top:10px solid rgb(78, 78, 78);
        border-left:10px solid rgb(78, 78, 78);
        border-bottom:10px solid rgb(78, 78, 78);
    }
    100%{
        background-color: rgb(150, 150, 150);
        border-top:10px solid rgb(150, 150, 150);
        border-left:10px solid rgb(150, 150, 150);
        border-bottom:10px solid rgb(150, 150, 150);
    }
}
@keyframes postunhoveranime {
    0%{
        background-color: rgb(150, 150, 150);
        border-top:10px solid rgb(150, 150, 150);
        border-left:10px solid rgb(150, 150, 150);
        border-bottom:10px solid rgb(150, 150, 150);
    }
    100%{
        background-color: rgb(78, 78, 78);
        border-top:10px solid rgb(78, 78, 78);
        border-left:10px solid rgb(78, 78, 78);
        border-bottom:10px solid rgb(78, 78, 78);
    }
}

.postslist ul li .postspic{
    display: grid;
    justify-content: right;
    width:20%;
    min-height:auto;
    align-items: center;
}

.postpic{
    width:100%;
    border-radius: 5px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 1);
}

.article{
    font-size:23px;
    width: 75%;
    min-width: 700px;
    margin-left:300px;
    background-color: rgb(224, 224, 224);
    border-top: 10px solid rgb(224, 224, 224);
    border-right: 10px solid rgb(224, 224, 224);
    border-left: 20px solid rgb(224, 224, 224);
    border-bottom: 10px solid rgb(224, 224, 224);
    border-radius: 10px;
}

@media screen and (max-width:768px){
    .article{
        font-size: 60px;
        display: inline-block;
    }    
}
