/*サイドバー*/
.sidebar{
    width:100%;
    max-width: 450px;
    min-width: 300px;
    margin:0px 15px 0px 20px;
    border-left:10px solid #b1b1b1;
    border-bottom:10px solid #b1b1b1;
    border-radius: 10px;
    background-color: #b1b1b1;
}

.sidebar h1{
    margin: 5px 0 0 20px;
}

.sidebar img.teammember{
    margin-top:10px;
    border-radius: 50px;
    width: 100px;
}

.sidebar a{
    font-size:15px;
}

.sidebar .memberdetail{
    display:inline-block;
    margin-left: 12px;
    line-height: 10px;
}