@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body{
    font-family: 'Noto Sans Japanese', sans-serif;
    background: #f5f5f5;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width:100%;
}

/*ヘッダー*/
.header img.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    min-width:800px;
}

.headerlist{
    width:100%;
    display: flex;
    justify-content: center;
}

.header li{
    float:left;
    box-sizing:border-box;
    display:flex;
    border-right: 4px solid rgb(75, 75, 75);
    border-bottom: 5px solid rgb(65, 65, 65);
    background-color : rgb(100, 100, 100);
    list-style: none;
    text-align:center;
}

.header li:hover{
    border-right: 4px solid rgb(117, 117, 117);
    border-bottom: 5px solid rgb(87, 87, 87);
    background-color : rgb(165, 165, 165);
    transform:translateY(1px);
}

.header li:focus-within{
    border-right: 4px solid rgb(51, 51, 51);
    border-bottom: 5px solid rgb(41, 41, 41);
    background-color : rgb(70, 70, 70);
    transform:translateY(5px);
}

.header li a{
    width: 250px;
    height:50px;
    font-size: 30px;
    padding:5px 5px;
    color:#e6e6e6;
    text-decoration-line:none;
}

/*メインラッパー*/
.wrapper{
    display:flex;
}

/*サイドバー*/
.sidebar{
    width: 15%;
    min-width: 350px;
    border-bottom: 10px solid #b1b1b1;
    border-radius:10px;
    background-color: #b1b1b1;
    box-sizing:border-box;
}

.sidebar h1{
    margin: 0px 0 0 10px;
}

.sidebar img.teammember{
    margin-left:10px;
    margin-top:10px;
    border-radius: 50px;
    width: 100px;
}

.sidebar a{
    font-size:15px;
}

.sidebar .memberdetail{
    display:inline-block;
    margin-left:12px;
    line-height: 10px;
}

/*メイン部分*/
.main{
    width: 100%;
    margin-left:20px;
}

/*汎用*/
.mgn-10{
    margin-left: 10px;
}
